.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 8px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 40px;
  border:1px solid #cccccc;
  border-radius: 3px;
  
}

::placeholder{
  font-size: 14px;
  font-family: poppins;
  font-weight: 500;
}