.app{
  padding: 5rem 0;
  text-align:center;
  font-family: Sansita;
  color:rgb(0, 0, 0);
}

.app__heading{
  font-size: 3.1rem;
  letter-spacing: 3px;
  font-family: 'Lobster', cursive;
  color: #8e88ff;

}

img {
  max-width: 100%;
}


